<!--TABLE-->
<h1>Hello from picker </h1>
<table ng-controller="CategoryController" class="table">
    <thead>
        <tr>
            <td ng-repeat="head in headerRow">
                {{head}}
            </td>
        <!--<th ng-click="sort('CategoryName')" scope="col">
            <a href="#">
                Category Name
            </a>
            <span ng-show="filterPageRequest.SortName=='CategoryName' && filterPageRequest.isAscending=='asc'">  ↓</span>
            <span ng-show="filterPageRequest.SortName=='CategoryName' && filterPageRequest.isAscending=='desc'">  ↑</span>
        </th>
        <th ng-click="sort('CategoryStatus')" scope="col">
            <a href="#">
                Category Status
            </a>
            <span ng-show="filterPageRequest.SortName=='CategoryStatus' && filterPageRequest.isAscending=='asc'">  ↓</span>
            <span ng-show="filterPageRequest.SortName=='CategoryStatus' && filterPageRequest.isAscending=='desc'">  ↑</span>
        </th>-->
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tr ng-repeat="entityRow in rows">
        <td scope="row">{{entityRow.Name}}</td>
        <td scope="row">{{entityRow.Status == true ? "Active" : "Inactive"}}</td>
        <td scope="row"> <button value="{{entityRow.Id}}" ng-click="openEdit(entityRow)" class="btn btn-primary">Edit</button>  </td>
        <td scope="row"><button value="{{entityRow.Id}}" ng-click="openDelete(entityRow.Id)" class="btn btn-danger">Delete</button></td>
    </tr>
</table>