<div class="container">
    
  <app-breadcrumb  [isItem]="false" [itemDetail]="'Favourite Products'"></app-breadcrumb>

    <div *ngIf="responseModel?.TotalItems" class="row py-3">
        <div *ngFor="let product of responseModel?.Items" class="py-lg-2 py-md-2 py-sm-2 col-sm-6 col-md-6 col-lg-4">
          <div class="shop__thumb h-100">
            <div class="row">
              <!-- <div class="col-6  d-flex align-items-stretch">
                <div *ngIf="product">new</div>
              </div>
              <div class="col-6  d-flex align-items-stretch">
                <div class="right-solid-text">-5%</div>
              </div> -->
            </div>
            <a href="product-detail/{{product.Id}}">
              <div class="shop-thumb__img">
                <img [src]="product.Image | byPassSecurity" class="img-responsive m-auto" />
              </div>
              <h5 class="shop-thumb__title">
                {{product.Name}}
              </h5>
            </a>
              <div class="shop-thumb__price">
                <span class="shop-thumb-price_new">${{product.Price?.toFixed(2) || '/'}}</span>
              </div>
                <div class="row">
                    <span class="col-lg-8 col-md-6 col p-2">
                      <button class="btn h-100 w-100 responsive-button solid_button"> 
                        <span class="d-none text-uppercase strong d-lg-block">Add to cart</span> 
                        <i class="d-block d-lg-none fa-solid fa-cart-shopping"></i>
                      </button>
                    </span>
                    <!-- *ngIf="favouriteProduct"
                    *ngIf="checkIfFavouriteProductExist(product)"  -->
                    <span class="col-lg-4 col-md-6 col  p-2">
                      <button class="btn h-100 w-100 solid_favourite"><i class="fa-regular fa-heart"></i></button>
                    </span>
              </div>
          </div>
        </div>
      </div>

    <div *ngIf="!responseModel?.TotalItems">
      <div class="text-center">
        <div class="card" style="text-align: -webkit-center;">
          <div class="card-body"> 
            <div class="circle">
              <i class='fa-regular fa-5x fa-heart'></i>
            </div>
            <div class="p-3">
              <div>List of favourite product is empty!</div>
            <a class="solid_color" href="/"><strong>Keep buying</strong></a>
            </div>
          </div> 
      </div>
      </div>
    </div>

</div>
