<div class="container">
    <app-breadcrumb *ngIf="userDetails" [isItem]="false" [itemDetail]="'Account'"></app-breadcrumb>

    <div *ngIf="userDetails" class="tab-pane fade show active" id="account" role="tabpanel">
        <div class="row">
            <div class="col-lg-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h1>Profile image</h1>
                        <hr/>
                        <div>
                            <i class="fas fa-user-circle fa-10x"></i>
                        </div>
                        <h3 class="py-3 text-capitalize">{{userDetails.FirstName}} {{userDetails.LastName}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card ">
                    <div class="card-body">
                        <h1>Account Information</h1>
                        <hr>
                        <div>
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0"><i class="fa fa-envelope" aria-hidden="true"></i> Email</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{userDetails.Email}}
                              </div>
                            </div>
                            <br />
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0"><i class="fa-solid fa-person"></i> Username</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{userDetails.Username}}
                              </div>
                            </div>
                            <br />
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0"><i class="fa-solid fa-globe"></i> State</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{userDetails.State}}
                              </div>
                            </div>
                            <br />
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0"><i class="fa-solid fa-location-dot"></i> Address</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{userDetails.Address}}
                              </div>
                            </div>
                            <br/>
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0"><i class="fa-solid fa-pencil"></i> Description</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{userDetails.Description}}
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-sm-3">
            <div class="card-body">
                <h1>Payment info</h1>
                <hr/>
                <div>No Payment Information Available</div>
            </div>
        </div>
    </div>
</div>
