<div class="container pt-3">
    <div *ngIf="userDetails" class="tab-pane fade show active" id="account" role="tabpanel">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">User info</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputFirstName">First name</label>
                        <div>{{userDetails.FirstName}}</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLastName">Last name</label>
                        <div>{{userDetails.LastName}}</div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="inputUsername">Username</label>
                            <div>{{userDetails.Username}}</div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="inputUsername">Description</label>
                            <div>{{userDetails.Description}}</div>
                        </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail4">Email</label>
                    <div>{{userDetails.Email}}</div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <div>{{userDetails.Address}}</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <div>{{userDetails.City}}</div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <div>{{userDetails.State}}</div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <div>{{userDetails.ZipCode}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <h5 class="card-title mb-0">Payment info</h5>
            </div>
            <div class="card-body">
                    No Payment Information Available
            </div>
        </div>
    </div>
</div>
