<div>
  <div id="accordion">
    <div class="card">
      <div class="card-header p-0">
        <h5 class="mb-0">
          <div
            class="btn solid-color-a left-solid-text w-100"
            aria-expanded="true"
          >
            Price
          </div>
        </h5>
      </div>

      <div>
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="input-group">
                <span class="py-2">$</span
                ><input
                  type="text"
                  name="price"
                  class="form-control"
                  placeholder="From"
                />
              </div>
            </div>

            <div class="col-1">
              <div class="input-group">
                <span class="py-2">-</span>
              </div>
            </div>

            <div class="col-5">
              <div class="input-group">
                <span class="py-2">$</span
                ><input
                  type="text"
                  name="price"
                  class="form-control"
                  placeholder="To"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 py-3">
          <button class="btn solid_button solid_button w-75">Search</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header p-0">
        <h5 class="mb-0">
          <div class="btn solid-color-a left-solid-text w-100">
            Brands
            <i class="fa-solid fa-list-radio"></i>
          </div>
        </h5>
      </div>
      <div>
        <div class="card-body">
          <ul class="form-check">
            <li *ngFor="let brand of brands">
              <input
                (change)="onChangeBrands($event)"
                class="form-check-input"
                id="{{ brand }}"
                name="{{ brand }}"
                type="checkbox"
                value="{{ brand }}"
              />
              <label for="{{ brand }}">{{ brand }}</label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="brands">
      <div class="card">
        <div class="card-header p-0">
          <h5 class="mb-0">
            <div class="btn solid-color-a left-solid-text w-100">
              Display
              <i class="fa-solid fa-list-radio"></i>
            </div>
          </h5>
        </div>
        <div>
          <div class="card-body">
            <ul class="form-check">
              <li>
                <input
                  value='11.6"'
                  (change)="onChange($event)"
                  id="display11.6"
                  class="form-check-input"
                  type="checkbox"
                />
                <label for="display11.6">11.6</label>
              </li>
              <li>
                <input
                  value='13.2"'
                  (change)="onChange($event)"
                  id="display13.2"
                  class="form-check-input"
                  type="checkbox"
                />
                <label for="display13.2">13.2"</label>
              </li>
              <li>
                <input
                  value='13.3"'
                  (change)="onChange($event)"
                  id="display13.3"
                  class="form-check-input"
                  type="checkbox"
                />
                <label for="display13.3">13.3"</label>
              </li>
              <li>
                <input
                  value='13.5"'
                  (change)="onChange($event)"
                  id="display13.5"
                  class="form-check-input"
                  type="checkbox"
                />
                <label for="display13.5">13.5"</label>
              </li>
              <li>
                <input
                  value='14"'
                  (change)="onChange($event)"
                  id="display14.0"
                  class="form-check-input"
                  type="checkbox"
                />
                <label for="display14">14"</label>
              </li>
              <li>
                <input
                  value='15.6"'
                  (change)="onChange($event)"
                  id="display15.6"
                  class="form-check-input"
                  type="checkbox"
                />
                <label for="display15.6">15.6"</label>
              </li>
              <li>
                <input
                  value='16"'
                  (change)="onChange($event)"
                  id="display16"
                  class="form-check-input"
                  type="checkbox"
                />
                <label for="display16">16"</label>
              </li>
              <li>
                <input
                  value='16.2"'
                  (change)="onChange($event)"
                  id="display16.2"
                  class="form-check-input"
                  type="checkbox"
                />
                <label for="display16.2">16.2"</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header p-0">
          <h5 class="mb-0">
            <div class="btn solid-color-a left-solid-text w-100">
              RAM
              <i class="fa-solid fa-list-radio"></i>
            </div>
          </h5>
        </div>
        <div>
          <div class="card-body">
            <ul class="form-check">
              <li>
                <input
                  value="4GB"
                  id="ram4"
                  class="form-check-input"
                  type="checkbox"
                />
                <label (change)="onChange($event)" for="ram4">4</label>
              </li>
              <li>
                <input
                  value="8GB"
                  (change)="onChange($event)"
                  id="ram8"
                  class="form-check-input"
                  type="checkbox"
                />
                <label for="ram8">8</label>
              </li>
              <li>
                <input
                  value="12GB"
                  (change)="onChange($event)"
                  id="ram12"
                  class="form-check-input"
                  type="checkbox"
                />
                <label for="ram12">12</label>
              </li>
              <li>
                <input
                  value="16GB"
                  (change)="onChange($event)"
                  id="ram16"
                  class="form-check-input"
                  type="checkbox"
                />
                <label for="ram16">16</label>
              </li>
              <li>
                <input
                  value="32GB"
                  (change)="onChange($event)"
                  id="ram32"
                  class="form-check-input"
                  type="checkbox"
                />
                <label for="ram32">32</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header p-0">
          <h5 class="mb-0">
            <div class="btn solid-color-a left-solid-text w-100">
              Processor
              <i class="fa-solid fa-list-radio"></i>
            </div>
          </h5>
        </div>
        <div>
          <div class="card-body">
            <ul class="form-check">
              <li>
                <input
                  value="i3"
                  (change)="onChange($event)"
                  id="i3"
                  class="form-check-input"
                  type="checkbox"
                  value="i3"
                />
                <label for="i3">i3</label>
              </li>
              <li>
                <input
                  value="i5"
                  (change)="onChange($event)"
                  id="i5"
                  class="form-check-input"
                  type="checkbox"
                  value="i5"
                />
                <label for="i5">i5</label>
              </li>
              <li>
                <input
                  value="i7"
                  (change)="onChange($event)"
                  id="i7"
                  class="form-check-input"
                  type="checkbox"
                  value="i7"
                />
                <label for="i7">i7</label>
              </li>
              <li>
                <input
                  value="i9"
                  (change)="onChange($event)"
                  id="i9"
                  class="form-check-input"
                  type="checkbox"
                  value="i9"
                />
                <label for="i9">i9</label>
              </li>
              <li>
                <input
                  value="AMD R3"
                  (change)="onChange($event)"
                  id="AMD R3"
                  class="form-check-input"
                  type="checkbox"
                  value="AMD R3"
                />
                <label for="AMD R3">AMD R3</label>
              </li>
              <li>
                <input
                  value="AMD R5"
                  (change)="onChange($event)"
                  id="AMD R5"
                  class="form-check-input"
                  type="checkbox"
                  value="AMD R5"
                />
                <label for="AMD R5">AMD R5</label>
              </li>
              <li>
                <input
                  value="AMD R7"
                  (change)="onChange($event)"
                  id="AMD R7"
                  class="form-check-input"
                  type="checkbox"
                  value="AMD R7"
                />
                <label for="AMD R7">AMD R7</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
