<h1 mat-dialog-title>{{title}} <hr/></h1>
<div mat-dialog-content>
  <form>
    <div class="form-outline mb-4">
      <label for="name" class="form-label" >Product name</label>
      <input name="name" [(ngModel)]="model.Name" type="text" class="form-control" />
    </div>

    <div class="form-outline mb-4">
      <label for="price" class="form-label" >Price</label>
      <input name="price" [(ngModel)]="model.Price" type="number" class="form-control" />
    </div>

    <div class="form-outline mb-4">
      <label for="description" class="form-label" >Description</label>
      <textarea rows="5" name="description" [(ngModel)]="model.Description" type="text"  class="form-control"></textarea>
    </div>
  
    <div *ngIf="model.Category != null">
      <label for="description" class="form-label" >Pick category</label>
      <select [selectedIndex]="model.Category" class="form-select form-control" [(ngModel)]="model.Category.Id">
        <option *ngFor="let item of categories" [value]="item.Id" [ngValue]="item.Id">{{ item.Name }}</option>
      </select>
    </div>

    <div *ngIf="model.Category == null">
      <label for="description" class="form-label" >Pick category</label>
      <select [selectedIndex]="model.Category" class="form-select form-control" [(ngModel)]="model.Category">
        <option *ngFor="let item of categories" [value]="item" [ngValue]="item">{{ item.Name }}</option>
      </select>
    </div>

    <!-- <div>{{model.Category | json}}</div> -->

  </form>
</div>
<div style="float:right;margin:20px;">
  <input class="btn btn-danger" type="button" value="Save"  [mat-dialog-close]="model">
</div>

