
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">ShopApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <li><a routerLink="/categories" 
            routerLinkActive="active" 
            ariaCurrentWhenActive="categories"
            class="nav-item nav-link" href="#">Categories</a></li>
      <li><a routerLink="/products"   
            routerLinkActive="active" 
            ariaCurrentWhenActive="products"  
            class="nav-item nav-link" href="#">Products</a></li>
      <li><a routerLink="/customers"  
            routerLinkActive="active" 
            ariaCurrentWhenActive="page"      
            class="nav-item nav-link" href="#">Customers</a></li>
      <li><a routerLink="/orders"     
            routerLinkActive="active" 
            ariaCurrentWhenActive="page" 
            class="nav-item nav-link" href="#">Orders</a></li>
    </div>
  </div>
  </div>
  
</nav>

<router-outlet></router-outlet>
