<div class="container">

    <app-breadcrumb *ngIf="category" [isItem]="false" [itemDetail]="category.Name"></app-breadcrumb>
    
    <div class="row">
        <div *ngIf="category" class="col-lg-3 my-sm-2">
            <app-side-filter
                [brands] = "brands"
                [category]="category.Id"
                (refreshState)="refreshState($event)">
            </app-side-filter>
        </div>
        <div class="col-lg-9 my-sm-2">
            <app-products-grid *ngIf="!isLoading" [products]="products?.Items"></app-products-grid>
            <app-loading-grid *ngIf="isLoading" ></app-loading-grid>
        </div>
    </div>

    
</div>
