<div class="container">

    <app-breadcrumb *ngIf="category" [isItem]="false" [itemDetail]="category.Name"></app-breadcrumb>
    
    <div class="row">
        <div class="col-lg-3">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h1>Profile image</h1>
                    <hr/>
                    <div>
                        <i class="fas fa-user-circle fa-10x"></i>
                    </div>
                    <h3 class="py-3 text-capitalize">Jao brate</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <app-products-grid [products]="products?.Items"></app-products-grid>
        </div>
    </div>
</div>
