<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid leftPadding rightPadding">
    <a class="navbar-brand letterSpacing" routerLink="/">ShoppingDev</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">

      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="p-2"><a routerLink="/login" style="color: #ffffff;"><i class='fa fa-2x fa-sign-in'></i></a></li>
      <li class="p-2"><a routerLink="/cart" style="color: #ffffff;"><i  class="fa fa-2x fa-cart-shopping"></i></a></li>
    </ul>
  </div>
</nav>

