<div><br/> <br/>
  <header-information headerTitle="{{ pageTitle | translate }}"
  [hasBreadcrumbs]="true"
  [renderButtonsPosition]="renderButtonsTypes.Right"
  [(headerItemsConfig)]="headerItemsConfig"
  [fluentTableConfig]="fluentTableConfig">
</header-information>
<!-- <button class="btn btn-success m-1" (click)="alertService.success('Success!!', options)">Success</button> -->
<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
</p>

<fluent-search [config]="fluentSearchConfig" [(model)]="currentFilter"></fluent-search>

  <fluent-table [customApiUrl]="source" [config]="fluentTableConfig" [source]="''">
    
  </fluent-table>
</div>