
.sk_bg {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: sk_bg_animation;
  animation-timing-function: linear;
  background: white;
  background: linear-gradient(to right, #eee 33%, #ddd 70%, #eee 90%);
  background-size: 800px 104px;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
  
  
  .sk_bg.big {
    height: 250px;
  }
  
  
  .sk_bg.small {
    height: 50px;
  }
  
  
  .sk_bg.small2 {
    height: 15px;
  }
  
  
  @keyframes sk_bg_animation{
    0%{background-position:-468px 0}
    100%{background-position:468px 0}
  }
  
  
  @-webkit-keyframes sk_bg_animation{
    0%{background-position:-468px 0}
    100%{background-position:468px 0}
  }