<div class="container">
  <h1>Category table</h1>
<br/>
  <!-- BUTTON TO SHOW MODAL -->
  <button class="btn btn-outline-primary" (click)="openAddEditModal()">
    Add Category
  </button>
  <hr class="w-50"/>
  <form class="form-inline">
    <span class="form-group d-inline">
      <input type="text" [(ngModel)]="shopRequest.SearchString" name="SearchString" placeholder="Search...">
      <select class="custom-select-sm form-select-sm" [(ngModel)]="shopRequest.SearchStatus" name="SearchStatus">
        <option value="true">Active</option>
        <option value="false">Inactive</option>
      </select>
      <input  type="button" (click)="refreshData()"  value="Search" />
      <input type="button" (click)="reset()"  value="Reset" />
    </span>
  </form>
  <hr/>
  <!-- ALERTS -->
  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
  </p>
  <!-- TABLE -->
  <div class="table-responsive-sm">
    <table mat-table class="table table-striped table-hover">
      <thead class="thead-dark">
        <th>
          <span class="btn-link" (click)="sort('CategoryName')">Category Name
            <span *ngIf="shopRequest.SortName=='CategoryName' && shopRequest.isAscending=='asc'">↑</span> 
            <span *ngIf="shopRequest.SortName=='CategoryName' && shopRequest.isAscending=='desc'">↓</span>
          </span>
        </th>
        <th>
          <span class="btn-link" (click)="sort('CategoryStatus')">Category Status
            <span *ngIf="shopRequest.SortName=='CategoryStatus' && shopRequest.isAscending=='asc'">↑</span> 
            <span *ngIf="shopRequest.SortName=='CategoryStatus' && shopRequest.isAscending=='desc'">↓</span>
          </span>
        </th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{category.Name}}</td>
          <td>{{category.Status==true ? 'Active' : 'Inactive'}}</td>
          <td>
            <button class="btn btn-secondary"  (click)="openAddEditModal(category.Id)">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="openModalDelete(category.Id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- PAGINATION -->
  <div class="row">
    <div class="col-4">
      Showing {{ shopResponse.TotalItems==0? 0 : (shopResponse.CurrentPage-1) * shopResponse.Size +1 }} to
                    {{
                        (shopResponse.CurrentPage * shopResponse.Size) > shopResponse.TotalItems  ?
                        shopResponse.TotalItems  :
                        (shopResponse.CurrentPage * shopResponse.Size)
                    }}  of total
                    {{shopResponse.TotalItems}} items.
    </div>
    <div class="col-6">

      <ngb-pagination
      (pageChange)="pageChange($event)"
      [collectionSize]="shopResponse.TotalItems"
      [(page)]="shopResponse.CurrentPage"
      [pageSize]="shopResponse.Size"
      [boundaryLinks]="true"
      size="md">
      </ngb-pagination>
    </div>
    <div class="col-2"><span> Page size: </span>
        <select (change)="pageSizeChange(shopResponse.Size)" class="form-select-sm" [(ngModel)]="shopResponse.Size">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
      </select>
    </div>
  </div>
</div>
