<form novalidate name="CategoryForm">

    <div class="modal-header">
        <h3 class="modal-title">Category:</h3>
    </div>
    <div class="modal-body">

        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'danger')" close="closeAlert($index)">
            {{alert.msg}}
        </div>

        <div>
            <label for="category">Category Name: *</label>
            <input class="form-control" type="text"
                   required
                   name="CategoryName"
                   ng-model="category.Name" />
            <div ng-messages="CategoryForm.CategoryName.$error" ng-if="CategoryForm.CategoryName.$invalid" style="color:maroon" role="alert">
                <div ng-message="required">Category Name is required</div>
                <div ng-message-default>This field has an input error</div>
            </div>
        </div>
        <br />

        <label for="category">Category Status:</label>
        <select class="form-control" ng-model="category.Status">
            <option value=true>Active</option>
            <option value=false>Inactive</option>
        </select>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok(category)">OK</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
