<nav *ngIf="categories" class="bg-white navbar solid-hide-on-sm navbar-expand-md navbar-expand-lg p-0">
    <div class="container container-sm">
      <ul class="navbar-nav w-100">
        <li class="solid-active nav-item solid-gray-text" 
          *ngFor="let category of categories"
          [class.solid-active]="isLinkActive(category.Url)">
          <a  class="nav-link p-2 solid-gray-text" [routerLink]="['/category',category.Url]">{{ category.Name }}</a>
        </li>
      </ul>
    </div>
</nav>
