.solid-header {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }