<div *ngIf="productDetail" class="container">

    <app-navigation-panel [productDetail]="productDetail"></app-navigation-panel>
    

    <div class="card w-100">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-md-12 text-md-center w-100 h-100">
                <img src="https://www.bootdey.com/image/400x400/87CEFA/000000" class="img-responsive" alt="...">
            </div>
            <div class="container-sm py-sm-2 col-lg-6 col-md-12">
                <h5 class="card-title">{{productDetail.Name}}</h5>
                <p class="card-text">{{productDetail.Description}}</p>
                <p class="card-text">{{productDetail.Price?.toFixed(2) || '/'}}</p>
                <div class="row">
                    <div class="col-lg-5">Buy</div>
                    <div class="col-lg-5">Add to cart</div>
                    <div class="col-lg-2"><3 </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
