<div *ngIf="productDetail" class="container">

    <app-breadcrumb [isItem]="true" [itemDetail]="productDetail"></app-breadcrumb>
    

    <div class="card w-100">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-md-12 text-md-center w-100 h-100">
                <img [src]="productDetail.Image | byPassSecurity" class="img-responsive" alt="...">
            </div>
            <div class="container-sm py-sm-2 col-lg-6 col-md-12">
                <h5 class="card-title">{{productDetail.Name}}</h5>
                <p class="card-text">{{productDetail.Description}}</p>
                <p class="card-text">{{productDetail.Price?.toFixed(2) || '/'}}</p>
                <div class="row">
                    <div class="col-lg-5">
                      <button class="btn solid_button w-100">Buy</button>
                    </div>
                    <div class="col-lg-5">
                      <button class="btn solid_button w-100">Add to cart</button>
                    </div>
                    <div class="col-lg-2">
                      <button class="btn solid_button w-100"><i class="fa-regular fa-heart"></i></button>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
