`<form novalidate name="CustomerForm">

    <div class="modal-header">
        <h3 class="modal-title">Customer:</h3>
    </div>
    <div class="modal-body">

        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'danger')" close="closeAlert($index)">
            {{alert.msg}}
        </div>

        <div>
            <label for="customer">Customer Name: *</label>
            <input class="form-control" type="text"
                   required
                   name="CustomerName"
                   ng-model="customer.Name" />
            <div ng-messages="CustomerForm.CustomerName.$error" ng-if="CustomerForm.CustomerName.$touched || showErrorMessages" style="color:maroon" role="alert">
                <div ng-message="required">Customer Name is required</div>
                <div ng-message-default>This field has an input error</div>
            </div>
        </div><br />
        <div>
            <label for="customer">Customer Surname: *</label>
            <input class="form-control" type="text"
                   required
                   name="CustomerSurname"
                   ng-model="customer.Surname" />
            <div ng-messages="CustomerForm.CustomerSurname.$error" ng-if="CustomerForm.CustomerSurname.$touched || showErrorMessages" style="color:maroon" role="alert">
                <div ng-message="required">Customer Surname is required</div>
                <div ng-message-default>This field has an input error</div>
            </div>
        </div><br />
        <div>
            <label for="customer">Customer Email: *</label>
            <input class="form-control" type="text"
                   required
                   name="CustomerEmail"
                   ng-model="customer.Email" />
            <div ng-messages="CustomerForm.CustomerEmail.$error" ng-if="CustomerForm.CustomerEmail.$touched || showErrorMessages" style="color:maroon" role="alert">
                <div ng-message="required">Customer Email is required</div>
                <div ng-message-default>This field has an input error</div>
            </div>
        </div><br />
        <div>
            <label for="customer">Customer Username: *</label>
            <input class="form-control" type="text"
                   required
                   name="CustomerUsername"
                   ng-model="customer.Username" />
            <div ng-messages="CustomerForm.CustomerUsername.$error" ng-if="CustomerForm.CustomerUsername.$touched || showErrorMessages" style="color:maroon" role="alert">
                <div ng-message="required">Customer Username is required</div>
                <div ng-message-default>This field has an input error</div>
            </div>
        </div><br />
        <div>
            <label for="customer">Customer Password: *</label>
            <input class="form-control" type="password"
                   required
                   name="CustomerPassword"
                   ng-model="customer.Password" />
            <div ng-messages="CustomerForm.CustomerPassword.$error" ng-if="CustomerForm.CustomerPassword.$touched || showErrorMessages" style="color:maroon" role="alert">
                <div ng-message="required">Customer Password is required</div>
                <div ng-message-default>This field has an input error</div>
            </div>
        </div>
        <br />
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok(customer); showErrorMessages = CustomerForm.$invalid">OK</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
