<nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand flex-grow-1" href="/">ShoppingDev</a>
    <button class="solid-gray navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <div *ngIf="!isUserAuthenticated" class="nav-item">
            <a class="nav-link " routerLink="/login"><i class='fa fa-s15 fa-sign-in'></i> <span class="responsive-text"> Login</span></a>
          </div>
          <div *ngIf="isUserAuthenticated" class="solid-button-hide  nav-item">
            <div class="nav-link dropdown">
              <button class="avatar dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i><span class="px-1">{{username}}</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" [routerLink]="['/profile',id]">
                  <i class="fa fa-user-circle" aria-hidden="true"></i>  Account
                </a>
                <a class="dropdown-item" routerLink="/settings">
                  <i class="fa fa-cog" aria-hidden="true"></i>   Settings
                </a>
                <a class="dropdown-item" routerLink="/orders">
                  <i class="fa-solid fa-bag-shopping" aria-hidden="true"></i>   My orders
                </a>
                <div class="dropdown-divider"></div>
                <a (click)="logout()" class="dropdown-item">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>   Logout
                </a>
              </div>
            </div>
          </div>

          <div class="hide-in-width-screen">
            <div class="nav-item">
              <div class="dropdown-divider"></div>
              <a class="nav-item nav-link" [routerLink]="['/profile',id]">
                <i class="fa fa-user-circle" aria-hidden="true"></i>  Profile Information
              </a>
            </div>

            <div class="nav-item">
              <a class="nav-item nav-link" routerLink="/settings">
                <i class="fa fa-cog" aria-hidden="true"></i>   Change Information
              </a>
            </div>

              <div class="dropdown-divider"></div>
       
          </div>


          <!-- POCNUVA FAVOURITE I CART -->
          <div class="nav-item">
            <a class="nav-item nav-link " routerLink="/favourite" >
              <i class='fa fa-s15 fa-heart'><span class="responsive-text"> Favourite</span> </i>
            </a>
          </div>

          <div class="nav-item">
            <a class="nav-item nav-link " routerLink="/cart"><i class='fa fa-s15 fa-cart-shopping'></i> <span class="responsive-text"> Cart</span></a>
          </div>

          <div class="solid-button-sm-show hide-in-width-screen">
            <div class="dropdown-divider"></div>
            <div class="nav-item">
              <a  class="nav-item nav-link"  (click)="logout()" href="#">
                <i class="fa fa-sign-out" aria-hidden="true"></i>   Logout
              </a>
            </div>    
          </div>
        </div>
    </div>
    </div>
  </nav>