<h1 mat-dialog-title>{{title}} <hr/></h1>

<div mat-dialog-content *ngIf="model">
    <form>
        <div class="row">
            <div class="col-6 form-outline mb-4">
                <label for="order_name" class="form-label" >Order name</label>
                <input name="order_name" [(ngModel)]="model.OrderName" disabled type="text" class="form-control" />
            </div>
    
            <div class="col-6 form-outline mb-4">
                <label for="user_name" class="form-label" >Username</label>
                <input name="user_name" [ngModel]="model.User?.Name" disabled type="text" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div *ngIf="model" class="col-6 form-outline mb-4">
                <label for="cart_name" class="form-label" >Shopping Cart</label>
                <input name="cart_name" [ngModel]="model.ShoppingCart?.Name" disabled type="text" class="form-control" />
            </div>
    
            <div class="col-6 form-outline mb-4">
                <label for="payment_type" class="form-label" >Payment Type</label><br/>
                <span *ngIf="model.PaymentType == 0 " class="bg-info p-2">{{ model.PaymentType | paymentType }}</span>
                <span *ngIf="model.PaymentType == 1  " class="bg-dark text-white p-2">{{ model.PaymentType | paymentType }} </span>
            </div>
        </div>

        <div class="w-50">
            <label for="description" class="form-label">Change Order Status</label>
            <select *ngIf="model.OrderStatus == 3" disabled [selectedIndex]="model.OrderStatus" class="form-select form-control" [(ngModel)]="model.OrderStatus">
              <option value="0">Canceled</option>
              <option value="1">OnHold</option>
              <option value="2">PendingPayment</option>
              <option value="3">Completed</option>
            </select>
            <select *ngIf="model.OrderStatus != 3" [selectedIndex]="model.OrderStatus" class="form-select form-control" [(ngModel)]="model.OrderStatus">
                <option value="0">Canceled</option>
                <option value="1">OnHold</option>
                <option value="2">PendingPayment</option>
                <option value="3">Completed</option>
              </select>
          </div>

    </form>
    <div style="float:right;margin:20px;">
        <input class="btn btn-danger" type="button" value="Save" [mat-dialog-close]="model">
      </div>
</div>
