<div class="container">
  <app-breadcrumb 
      [isItem]="false" 
      [itemDetail]="'Cart'">
  </app-breadcrumb>

  <div *ngIf="shoppingCart">
    <app-products-grid [type]="'cart'" [shoppingCart]="shoppingCart" (refreshState)="refreshState()">
    </app-products-grid>
    <div *ngIf="shoppingCart.ShoppingCartDetails.length>0" class="row">
      <div class="my-5 col-md-6 col-lg-6">
        <button class="btn w-75 btn-danger"><h5>Delete all products</h5></button>
      </div>
      <div class="my-5 col-md-6 col-lg-6 right-solid-text">
        <button class="btn w-75 solid-button-order" data-toggle="modal" data-target="#orderMaking" (click)="MakeOrder(shoppingCart.Id)" ><h5>Order here</h5></button>
      </div>
    </div>
  </div>
  <app-loading-grid *ngIf="isLoading" [isGridLoading]="false"></app-loading-grid>

</div>
<div *ngIf="error || shoppingCart.ShoppingCartDetails.length == 0" class="container">
  <div class="text-center">
    <div class="card" style="text-align: -webkit-center;">
      <div class="card-body">
        <div class="circle">
          <i class='fa-5x fa-solid fa-bag-shopping'></i>
        </div>
        <div class="p-3">
          <div>List of cart product is empty!</div>
          <a class="solid_color" href="/"><strong>Keep buying</strong></a>
        </div>
      </div>
    </div>
  </div>
</div>
