<div class="row">
  <div *ngFor="let product of products" class="col-sm-6 col-md-6 col-lg-4">
    <div *ngIf="type =='home' || type == 'favourite'" class="shop__thumb h-100">
      <a [routerLink]="['/product-detail',product.Id]">
        <div class="shop-thumb__img">
          <img [src]="product.Image | byPassSecurity" class="img-responsive m-auto" />
        </div>
        <h5 class="shop-thumb__title">
          {{product.Name}}
        </h5>
      </a>
      <div class="shop-thumb__price">
        <span class="shop-thumb-price_new">${{product.Price?.toFixed(2) || '/'}}</span>
      </div>
      <div class="row">
        <span class="col-lg-8 col-md-6 col p-2">
          <button (click)="addToCart(product.Id)" class="btn h-100 w-100 responsive-button solid_button">
            <span class="d-none text-uppercase strong d-lg-block"><strong>Add to cart</strong></span>
            <i class="d-block d-lg-none fa-solid fa-cart-shopping"></i>
          </button>
        </span>
        <span class="col-lg-4 col-md-6 col  p-2">
          <button *ngIf="!hasRemoveProductButton" class="btn h-100 w-100 solid_favourite"
            (click)="addToFavourite(product.Id)"><i class="fa-regular fa-heart"></i></button>
          <button *ngIf="hasRemoveProductButton" (click)="deleteFavouriteProduct(product.Id)"
            class="btn h-100 w-100 solid_favourite"><i class="fa-solid fa-trash"></i></button>
        </span>
      </div>
    </div>
  </div>

  <!-- HTML FOR CART -->
  <div *ngIf="type =='cart'">
    <div *ngFor="let detail of shoppingCart.ShoppingCartDetails; let i = index;" class="card">
      <div class="card-body">
        <div class="col-lg-12">
          <div class="col-lg-12">
            <div>
              <a class="solid-color-a" [routerLink]="['/product-detail',detail.Product.Id]">
                <h1>{{detail.Product?.Name}}</h1>
              </a>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-lg-3 col-sm-12">
              <a [routerLink]="['/product-detail',detail.Product.Id]">
                <img [src]="detail.Product.Image | byPassSecurity" class="img-responsive" alt="...">
              </a>
            </div>
            <div class="col-lg-6 col-sm-12 solid-side-borders">
              <p>{{detail.Product?.Description}}</p>
            </div>
            <div class="col-lg-3 col-sm-12 text-center">
              <div>${{detail.Product?.Price.toFixed(2)}}</div>
              <hr />
              <div class="text-center">
                <div class="wrapper">
                  <button class="plusminus" (click)="handleMinus(i)">-</button>
                  <input type="number" class="num" [ngModel]="detail?.Quantity" />
                  <button class="plusminus" (click)="handlePlus(i)">+</button>
                </div>
              </div>
              <hr />
              <div>
                <button (click)="deleteProductCartDetail(detail.Id)" class="w-100 btn btn-danger">Delete
                  fromCart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>