<div class="card">
    <div *ngIf="activeOrder">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h1>{{activeOrder?.OrderName}}</h1>
                </div>
                <div class="col-6 right-solid-text">
                    <button class="btn solid_hover_color h-75" 
                            (click)="CancelOrder(activeOrder.Id)">Cancel order</button>
                </div>
            </div>
            <div>
                <div>Order Status : <b>{{activeOrder.OrderStatus | orderStatus}}</b>  </div>
                <div>Payment Type : <b>{{activeOrder.PaymentType | paymentType}}</b></div>
            </div>
            <hr/>
            <app-products-grid 
                    [type]="'order'" 
                    [orderProducts]="activeOrder.Products">
            </app-products-grid>
            <hr/>
            <div class="row">
                <div class="col-6">
                    <button type="button" (click)="Confirmation(activeOrder)" 
                            class="btn solid_hover_color w-100 h-100">Make order</button>
                </div>
                <div class="col-6">
                    <h3>Total amount: ${{activeOrder.TotalAmount.toFixed(2)}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!activeOrder">
        <div class="card-body">
            <h1>No orders</h1>
            <hr/>
        </div>
    </div>
</div>
